/* Dark Theme Variables */
:root {
  --text-dark: #ffffff;
  --bg-dark: #212135;
  --primary-dark: #6d68ff;
  --secondary-dark: #191992;
  --accent-dark: #2b2bf4;
  --textcontrast-dark: #64d97b;
  --bgcontrast-dark: #64d97b;
  --primarycontrast-dark: #ff8f8f;
  --secondarycontrast-dark: #64d97b;
  --accentcontrast-dark: #64d97b;
  --text5-dark: hsl(0, 0%, 100%, 5%);
  --text10-dark: hsl(0, 0%, 100%, 10%);
  --text15-dark: hsl(0, 0%, 100%, 15%);
  --text20-dark: hsl(0, 0%, 100%, 20%);
  --text25-dark: hsl(0, 0%, 100%, 25%);
  --text30-dark: hsl(0, 0%, 100%, 30%);
  --text35-dark: hsl(0, 0%, 100%, 35%);
  --text40-dark: hsl(0, 0%, 100%, 40%);
  --text45-dark: hsl(0, 0%, 100%, 45%);
  --text50-dark: hsl(0, 0%, 100%, 50%);
  --text55-dark: hsl(0, 0%, 100%, 55%);
  --text60-dark: hsl(0, 0%, 100%, 60%);
  --text65-dark: hsl(0, 0%, 100%, 65%);
  --text70-dark: hsl(0, 0%, 100%, 70%);
  --text75-dark: hsl(0, 0%, 100%, 75%);
  --text80-dark: hsl(0, 0%, 100%, 80%);
  --text85-dark: hsl(0, 0%, 100%, 85%);
  --text90-dark: hsl(0, 0%, 100%, 90%);
  --text95-dark: hsl(0, 0%, 100%, 95%);
  --primary5-dark: hsl(242, 100%, 70%, 5%);
  --primary10-dark: hsl(242, 100%, 70%, 10%);
  --primary15-dark: hsl(242, 100%, 70%, 15%);
  --primary20-dark: hsl(242, 100%, 70%, 20%);
  --primary25-dark: hsl(242, 100%, 70%, 25%);
  --primary30-dark: hsl(242, 100%, 70%, 30%);
  --primary35-dark: hsl(242, 100%, 70%, 35%);
  --primary40-dark: hsl(242, 100%, 70%, 40%);
  --primary45-dark: hsl(242, 100%, 70%, 45%);
  --primary50-dark: hsl(242, 100%, 70%, 50%);
  --primary55-dark: hsl(242, 100%, 70%, 55%);
  --primary60-dark: hsl(242, 100%, 70%, 60%);
  --primary65-dark: hsl(242, 100%, 70%, 65%);
  --primary70-dark: hsl(242, 100%, 70%, 70%);
  --primary75-dark: hsl(242, 100%, 70%, 75%);
  --primary80-dark: hsl(242, 100%, 70%, 80%);
  --primary85-dark: hsl(242, 100%, 70%, 85%);
  --primary90-dark: hsl(242, 100%, 70%, 90%);
  --primary95-dark: hsl(242, 100%, 70%, 95%);
  --secondary5-dark: hsl(240, 71%, 34%, 5%);
  --secondary10-dark: hsl(240, 71%, 34%, 10%);
  --secondary15-dark: hsl(240, 71%, 34%, 15%);
  --secondary20-dark: hsl(240, 71%, 34%, 20%);
  --secondary25-dark: hsl(240, 71%, 34%, 25%);
  --secondary30-dark: hsl(240, 71%, 34%, 30%);
  --secondary35-dark: hsl(240, 71%, 34%, 35%);
  --secondary40-dark: hsl(240, 71%, 34%, 40%);
  --secondary45-dark: hsl(240, 71%, 34%, 45%);
  --secondary50-dark: hsl(240, 71%, 34%, 50%);
  --secondary55-dark: hsl(240, 71%, 34%, 55%);
  --secondary60-dark: hsl(240, 71%, 34%, 60%);
  --secondary65-dark: hsl(240, 71%, 34%, 65%);
  --secondary70-dark: hsl(240, 71%, 34%, 70%);
  --secondary75-dark: hsl(240, 71%, 34%, 75%);
  --secondary80-dark: hsl(240, 71%, 34%, 80%);
  --secondary85-dark: hsl(240, 71%, 34%, 85%);
  --secondary90-dark: hsl(240, 71%, 34%, 90%);
  --secondary95-dark: hsl(240, 71%, 34%, 95%);
  --accent5-dark: hsl(240, 90%, 56%, 5%);
  --accent10-dark: hsl(240, 90%, 56%, 10%);
  --accent15-dark: hsl(240, 90%, 56%, 15%);
  --accent20-dark: hsl(240, 90%, 56%, 20%);
  --accent25-dark: hsl(240, 90%, 56%, 25%);
  --accent30-dark: hsl(240, 90%, 56%, 30%);
  --accent35-dark: hsl(240, 90%, 56%, 35%);
  --accent40-dark: hsl(240, 90%, 56%, 40%);
  --accent45-dark: hsl(240, 90%, 56%, 45%);
  --accent50-dark: hsl(240, 90%, 56%, 50%);
  --accent55-dark: hsl(240, 90%, 56%, 55%);
  --accent60-dark: hsl(240, 90%, 56%, 60%);
  --accent65-dark: hsl(240, 90%, 56%, 65%);
  --accent70-dark: hsl(240, 90%, 56%, 70%);
  --accent75-dark: hsl(240, 90%, 56%, 75%);
  --accent80-dark: hsl(240, 90%, 56%, 80%);
  --accent85-dark: hsl(240, 90%, 56%, 85%);
  --accent90-dark: hsl(240, 90%, 56%, 90%);
  --accent95-dark: hsl(240, 90%, 56%, 95%);
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}